name: Brew Update All The Things -- Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: macos-26
    
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          install: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/wrapper-validation@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4
      - name: Build
        run: ./gradlew macosUniversalBinary

      - name: Upload Binaries
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          # TODO will need to work out how to sign these
          name: Macos Universal Binary
          path: 'build/bin/macos-universal/brew-update-all-the-things'
