name: Brew Update All The Things -- Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: macos-26
    
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          install: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/wrapper-validation@v4
      - name: Build
        run: ./gradlew macosUniversalBinary

      - name: Upload Binaries
        # if: always()
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: 'build/bin/macos-universal/brew-update-all-the-things'
