name: Brew Update All The Things -- Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: macos-26
    
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          install: true
          # Recommended for GitHub API rate limits in CI
          # github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/wrapper-validation@v4
      - name: Build
        run: mise run build

#      - name: Upload Build Artifacts
#        if: always()
#        uses: actions/upload-artifact@v4
#        with:
#          name: build-reports
#          path: '**/build/reports/'
